
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");

/* General style rules for fonts and colors */
body {
	font-family: 'rubik';
	font-size: 18px;
	text-align: center;
}

h1, h2, h3 { 
	font-family: "Roboto";
	font-weight: bold;
}


a {
	text-decoration: none;
}




